body {
    font-family: 'Open Sans', sans-serif;
    line-height:28px;
   
}
.set-radius-zero {
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
.content-wrapper {
    margin-top: 40px;
    min-height:800px;
    padding-bottom:90px;
}
.header-line {
    font-weight:900;
    padding-bottom:25px;
    border-bottom:1px solid #eeeeee;
    text-transform:uppercase;
}
.pad-botm {
    padding-bottom:30px;
}
.right-div {
    float: right; 
    padding: 20px;
}
#menu-top a {
    color:#000;
    text-decoration:none;
    font-weight:500;
    padding: 25px 15px 25px 15px;
    text-transform:uppercase;

}
.menu-section {
    background-color: #f7f7f7;
    border-bottom:5px solid #9170E4;
    width:100%
}
.menu-top-active {
    background-color:#eeeeee;
}
.navbar-inverse {
background-color: #FFF;
border-color: rgba(155, 153, 153, 0.23);

}

.navbar {
    min-height: 90px;
    margin-bottom: 0px;
   
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color:transparent;
}
.navbar-toggle {
background-color: black;
border: 1px solid black;
}
